<h1> No activities planned tomorrow </h1>

<p> <%= @greeting %> <%= @user.firstname %>,</p>

<p>We hope you enjoy your trip in Greece %>.</p>
<p>We just saw that you don't have activities yet for tomorrow.</p>
<p>Open your nice lucette-travel app, then go to the activities selector to pick one!</p>

<p>Have fun with lucette-travel!</p