<div class="burger-toggle">   <!-- Button to toggle -->
  <div class="burger-toggle-bar"></div>
</div>
<nav class="burger"> <!-- Contenu -->
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
