 <nav class="flex flex-col w-screen sticky top-0 z-10">
  <div class="fpy-5 bg-white text-gray-700 p-3 shadow-custom-navbar">
      <%= link_to root_path do %>
        <i class="far fa-money-bill-alt text-gray text-2xl"></i>
      <% end %>
  </div>
</nav>
