 <nav class="flex flex-col w-screen sticky top-0 z-10">
  <div class="fpy-5 bg-white text-gray-700 p-3">
      <%= link_to root_path do %>
        <i class="far fa-money-bill-alt text-gray text-2xl"></i>
      <% end %>
  </div>
</nav>

<%= #render 'shared/footer' %>

<!-- This is an example component -->


<!-- Don't remove, it's use for javascript notification if we use it -->

<!-- <div class="flex">
  <nav class="bg-gray-100 p-2">
    <ul>
      <li>
        <button type="button" class="button-default show-notifications active js-show-notifications">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
            <defs>
              <g id="icon-globe">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd" />
              </g>
            </defs>
            <g fill="#000000">
              <use xlink:href="#icon-globe" transform="translate(0 0)"></use>
            </g>
          </svg>
          <div class="notifications-count js-count"></div>
        </button>
      </li>

      <li>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
      </li>

      <li>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
      </li>

    </ul>
  </nav>
</div> -->

