<nav class="flex flex-col w-screen sticky top-0 z-10 bg-gray-100 border rounded-gray-100">
  <div class="container inline-flex justify-between mt-1 mb-1">
    <%= link_to root_path do %>
      <h5 class="font-bold mt-1 mb-1 text-gray-600 mx-4">Lucette-Travel</h5>
    <% end %>
    <%= link_to "#" do %>
        <i class="far fa-bell text-gray text-2xl text-gray-600 mx-4"></i>
    <% end %>
  </div>
</nav>

