<div class="container p-10">
  <div class="text-gray-700 text-center text-3xl">
    <h1>Welcome to Lucette Travel !</h1>
  </div>
  <div>
    <% @trips.each do |trip| %>
      <div class="bg-gray-100 rounded-lg text-center text-gray-700 p-2 m-2">
        <%= image_tag "#{trip.photo_title}.jpg", alt: "#{trip.name}", class: "" %>
        <h4><%= link_to trip.name, trip_path(trip) %></h4>
      </div>
    <% end %>
      <div class="container inline-flex justify-around p-2">
        <a role="button" class="bg-gray-600 hover:bg-red-700 text-white text-sm px-4 py-2 border rounded-full" href="/trips/new">
    Create event
        </a>
      </div>
  </div>
</div>


