* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}

h1 {
  font-family: Halant;
  font-weight: 700;
}

h2 {
  font-family: Halant;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
}

h4 {
  color: white;
  font-family: Halant;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 0 0 10px black;
}

h5 {
  font-family: Halant;
  font-weight: 600;
  font-size: 1.3rem;
}

#wrapper-day {
  /*height: 500px;*/
  width: 100vw;
}

/*.wrapper-activity {
  height: 250px;
  width: auto;
}*/

.wrapper-image {
  width: auto;
  height: 175px;
  overflow: hidden;
}

.box-shadow {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.rotate-card {
  position: absolute;
  top: 50;
  left: 0;
}

.rotate-card-transform {
  transform: rotate(8deg);
  transform-origin: 20% 40%;
}

.shadow-custom {
  text-shadow: 0 0 5px black;
}

.shadow-custom-card {
  box-shadow: 0 3px 5px gray;
}

.shadow-custom-navbar {
  box-shadow: 0 5px 10px gray;
}
