h1 {
  font-family: Halant;
  font-weight: 700;
}

h2 {
  font-family: Halant;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
}

#wrapper-day {
  /*height: 500px;*/
  width: 100vw;
}

.wrapper-activity {
  height: 250px;
  width: auto;
}

.wrapper-image {
  width: auto;
  height: 175px;
  overflow: hidden;
}

.box-shadow {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

