<div class="bg-indigo-400 p-10 rounded-lg shadow-lg max-w-lg mx-auto text-white text-center mt-32">
  <h2 class="font-black text-6xl text-center"><%= @activity.description %></h2>
  <%= link_to 'Back', activities_path, class: "px-5" %>
</div>
